.App{
  display: flex;
}

/* .App *{
margin: 5px 10px;
} */

.sidebar{
  width: 20%;
  height: 100vh;
  margin: 2% 1%;
}

.sidebar-head{
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: rgb(2, 49, 58);
  border-radius: 10px;
  margin-bottom: 10%;
}

.sidebar-content{
  margin: 5px;
}

.side-heading{
  color: rgb(255, 230, 10);
}

.title{
  border-radius: 25px ;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  border: 1px inset;
}
.text-snippet{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size:medium;
}

.selected-ele{
  background-color: rgb(2, 49, 58);
  color: rgb(255, 255, 255);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
} 

.trash-btn{
  display: none;
}

.title:hover > .trash-btn{
  display: block;
}

.main-area{
  /* background-color: rgb(248, 230, 204); */
  width: 100%;
  margin-left: 5%;
  margin-top: 2%;
}

.textNote{
  background-color: rgb(3, 82, 70);
  color: rgb(4, 228, 194);
  width: 90%;
  border-radius:25px;
  padding: 2%;
}

@media screen and (max-width:600px) {
  .side-heading{
    display: none;
  }
  .sidebar-content{
    font-size: x-large;
    border-radius: 100px;
  }
  .sidebar-head{
    display: block;
  }
}