.App{
  display: flex;
}

.App *{
margin: 5px 10px;
}

.sidebar{
  width: 20%;
  height: 100vh;
}

.sidebar-head{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.sidebar-content{
  margin: 5px;
}

.title{
  border-radius: 25px ;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-snippet{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selected-ele{
  background-color: rgb(5, 3, 117);
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
} 

.trash-btn{
  display: none;
}

.title:hover > .trash-btn{
  display: block;
}