.App{
  display: flex;
}

.App *{
margin: 5px 10px;
}

.sidebar-head{
  display: flex;
  flex-direction: row;
  text-align: center;
}

.sidebar-content{
  margin: 5px;
}

.title{
  width: 100%;
  font-family:Arial, Helvetica, sans-serif;
  cursor: pointer;
  text-align: center;
}

.selected-ele{
  background-color: rgb(5, 3, 117);
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
} 